#QuestionType{
    margin: 10px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#QuestionType h2{
    font-size: 36px;
    color: #6d9ac4;
    text-align: center;
}
#ShowQuestion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#ShowQuestion li{
    list-style: none;
}
#show{  
    width: 30%;
    margin: 10px;
}
#question{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ed5585;
    padding: 10px;
    height: 70px;
}
#question h3{
    font-size: 16px;
    color: #fff;
    width: 400px;
}
#question span{
    width: 80px;
    display: flex;
    justify-content: flex-end;
}
#question i:nth-child(1){
    color: #ede66f;
    margin: 0px 5px;
}
#question i:nth-child(2){
    color: #143657;
    margin: 0px 5px;
}
#options li{
    background-color: #6d9ac4;
    color: #fff;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 14px;
}
#options span{
    color: #000;
}
/* Quiz Form */

.QuizForm{
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -90%;
}
.QuizForm i{
    position: absolute;
    right: 20px;
    top: 15px;
    color: #ed5585;
    font-size: 24px;
}
/* Warning */
#warning {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    transition: 1s;
}
@keyframes zommin{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
#warnImg{
    background-color: #8cc63e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    animation: zommin 1s infinite;
}
#warnImg img{
    width: 100%;
}
#warning h2{
    font-size: 28px;
    text-align: center;
    color: #4c4b4b;
    font-weight: 500;
    margin-top: 40px;
}
